*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.datetime{
    font-family: "Segoe UI", sans-serif;
    width: 340px;    
    padding: 15px 10px;
    border: 3px solid;
    border-radius: 5px;
    position: absolute;
    top: 50px;
}

.date{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}

.time{
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time span:last-child{
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 0 5px;
    border-radius: 3px;
}

.stopwatch{
    font-family: "Segoe UI", sans-serif;
    width: 250px;    
    padding: 15px 10px;
    border: 3px solid;
    border-radius: 5px;
    text-align: center;
}

.timer{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.control{
    
}

.button{
    padding: 7px;
    border: 1px solid black;
    border-radius: 3px
}

